@import "modules/variables";
@import "partials/jumbotron";
@import "partials/features";
@import "partials/about";
@import "partials/testimonials";
@import "partials/pricing";
@import "partials/contact";
@import "partials/footer";

body{
    font-size: 14px;
}
section:not(#jumbotron) {
    padding: 75px;
}
h2, h3 {
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}